body{
    background-color: #f7dc52;
}
#navbarNav ul{
    margin-left: auto;
}
#navbarNav ul a{
    font-weight: 600;
}
.search-area{
    width: 50%;
    margin: auto;
    
}
.card-body a{
    
    font-size: 30px;
    font-weight: 700;
}
.card-body button{
    font-size: 30px;
    font-weight: 600;
}
.card{
    border-radius: 10px 10px;
    width: 300px;
    
}
.card img{
    border-radius: 10px 10px;
}
.foodCard{
    float: left;
    padding: 10px 10px 10px 0;
    
}

