body{
    background-color: #f7dc52;
}

.card-body a{
    
    font-size: 30px;
    font-weight: 700;
}
.card{
    border-radius: 10px 50px;
}
.card img{
    border-radius: 10px 50px;
}
.foodCard{
    float: left;
    padding: 10px;
    
}
